<div class="main-navbar">
  <img class="logo" routerLink="/" src="assets/VinylShop.png">
  <button *ngIf="isLoggedIn" routerLink="admin">{{'ADMINI VAADE' | translate}}</button>
  <button *ngIf="!isLoggedIn" routerLink="login">Logi sisse</button>
  <button *ngIf="!isLoggedIn" routerLink="signup">Registreeru</button>
  <button *ngIf="isLoggedIn" (click)="onLogout()">Logi välja</button>
  <button (click)="useLanguage('en')">en</button>
  <button (click)="useLanguage('ee')">ee</button>
  <span class="cart-button" routerLink="ostukorv">{{ sumOfCart | itemPrice }} €</span>
</div>

<!-- HREF - võimaldab uuele lehele ja teeb refreshi -->
<!-- routerLink - vahetab Angulari sees URLi refreshita -->

<!-- tumesinine: TÄÄG, tag -->
<!-- helesinine: direktiiv, HTML atribuut -->
<!-- valge: kasutajale kuvatav tekst -->
<!-- punane-oranž: muutujad, funktsioonid, klassid, lingid -->