<div class="main-navbar">
  <img class="logo" routerLink="/" src="assets/VinylShop.png">
  <button routerLink="admin">ADMINI VAADE</button>
  <span class="cart-button" routerLink="ostukorv">0.00€</span>
</div>

<!-- HREF - võimaldab uuele lehele ja teeb refreshi -->
<!-- routerLink - vahetab Angulari sees URLi refreshita -->

<!-- tumesinine: TÄÄG, tag -->
<!-- helesinine: direktiiv, HTML atribuut -->
<!-- valge: kasutajale kuvatav tekst -->
<!-- punane-oranž: muutujad, funktsioonid, klassid, lingid -->