<!-- {{ kuupaev | date }}<br>
{{ kuupaev | date:'fullDate' }}<br>
{{ kuupaev | date:'fullTime' }} <br>
{{ kuupaev | date:'mediumTime' }} <br>
{{ kuupaev | date:'shortDate' }} <br>

{{ items | json }}

{{ protsent | percent }} <br>

{{ protsent * 100000 | currency }} -->
<!-- 
<br><br><br> -->

<ngb-carousel class="carousel-wrapper" *ngIf="images.length > 0">
  <ng-template *ngFor="let image of images" ngbSlide>
    <div class="picsum-img-wrapper">
      <!-- src="{{images[0]}}" -->
      <img [src]="image.url" alt="{{image.alt}}">
      <!-- src="{{image}}" -->
    </div>
    <div class="carousel-caption">
      <h3>{{ image.header }}</h3>
      <p>{{ image.text }}</p>
    </div>
  </ng-template>
</ngb-carousel>

<br><br>

<div (click)="onCategorySelect(category)" *ngFor="let category of itemsOriginal | uniqueCategory">{{ category }}</div>

<br><br>

<div style="display: flex;">
  <span>Järjesta:</span>
  <button (click)="onSortByTitle()">Tähestiku järgi</button>
  <button (click)="onSortByPrice()">Hinna järgi</button>
</div>

<br><br>

<div *ngIf="isItemAddedToCart">Ese lisatud ostukorvi</div>

<div *ngIf="!itemsOriginal">Esemeid ei ole!</div>

<!-- string interpolation -->
<div class="items-wrapper">
  <div class="item" *ngFor="let itemShown of itemsShown">
    <app-item-card (addedToCartEvent)="onAddedToCart($event)" [item]=itemShown></app-item-card>
  </div>
</div>

<!-- MUUTUJAD: 
- .ts'i seest
- sellestsamast HTMList, "let" järgi

-->
