<!-- {{ kuupaev | date }}<br>
{{ kuupaev | date:'fullDate' }}<br>
{{ kuupaev | date:'fullTime' }} <br>
{{ kuupaev | date:'mediumTime' }} <br>
{{ kuupaev | date:'shortDate' }} <br>

{{ items | json }}

{{ protsent | percent }} <br>

{{ protsent * 100000 | currency }} -->
<!-- 
<br><br><br> -->

<ngb-carousel class="carousel-wrapper" *ngIf="images.length > 0">
  <ng-template *ngFor="let image of images" ngbSlide>
    <div class="picsum-img-wrapper">
      <!-- src="{{images[0]}}" -->
      <img [src]="image.url" alt="{{image.alt}}">
      <!-- src="{{image}}" -->
    </div>
    <div class="carousel-caption">
      <h3>{{ image.header }}</h3>
      <p>{{ image.text }}</p>
    </div>
  </ng-template>
</ngb-carousel>


<div *ngIf="!items">Esemeid ei ole!</div>

<!-- string interpolation -->
<div class="items-wrapper">
  <div class="item" *ngFor="let item of items; let i = index">
    <img class="item-image" routerLink="toode/{{i}}" src="{{ item.imgSrc }}">
    <div class="item-title">{{ item.title | shortenTitle }}</div>
    <div class="item-price">{{ item.price | itemPrice }}</div>
    <button class="btn btn-primary" (click)="onAddToCart(item)">LISA OSTUKORVI</button>
    <!-- event binding -->
  </div>
</div>

<!-- MUUTUJAD: 
- .ts'i seest
- sellestsamast HTMList, "let" järgi

-->
